.DS_Store
.Rprofile
.Rproj.user
.drake
.git
.gitignore
README.md
code
data
docker-compose.yml
drafts
install_packages.R
japan_ferns_review.Rproj
packrat/lib*/
packrat/src/
make.R
manuscript
reports
tmp
